* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container {
  background-color: #fff;
  padding: 0 50px;
  width: 100%;
  height: 100%;
}

.header {
  height: 100px;
  /* background-color: gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_items {
  /* background-color: wheat; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  width: 40px;
  height: 40px;
}

.menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu_items--list > a {
  list-style: none;
  font-size: 16px;
  padding: 20px 0;
  margin: 0 12px;
  line-height: 1.4;
  color: #000;
  text-decoration: none;
}

/* section */
.section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section_left {
  width: 50%;
  background-color: rgb(131, 126, 126);
}

.section_right {
  width: 50%;
  background-color: rgb(92, 92, 95);
}

.footer {
  width: 100%;
  background-color: yellow;
  text-align: center;
}
